@charset "UTF-8";
@media all and (min-width: 321px) and (max-width: 768px) {
        body {overflow-y: hidden; overflow-x: hidden;}
	
	body {
		overflow-y: hidden; 
		overflow-x: hidden; 
		margin: 0;
		padding: 0;
		}

	
	#back{
		position: absolute;
		left: 50%;
		top: 50%;
		transform:translate(-50%,-50%);
		width:768px;
		height: 1405px;
		border: 0;
		z-index: 1;
	}
	
	#back3{
		position: absolute;
		left: 50%;
		top: 50%;
		transform:translate(-50%,-50%);
		width:768px;
		height: 1405px;
		z-index: 2;
		background-color: black;  
		opacity: 0.4;
	}
	
	 #back2{
		position: absolute;
		left: 50%;
		top: 50%;
		transform:translate(-50%,-50%);
		background-color: white;
		opacity: 0.7;
		width: 700px; 
		height: 843px;
		z-index: 4;
		
	} 
	
	#content{ 
		position: absolute;
		left: 50%;
		top: 50%;
		transform:translate(-50%,-50%);
		width: 700px; 
		height: 843px;
		z-index: 5;
	}
	
	#logo{
		position: absolute;
		z-index: 5;
		top: 40px;
		left: 240px;
		
	}
	
	#text{
	position: absolute;
	z-index: 7;
	vertical-align: middle;
	top: 370px;
	left: 60px;
	
	}
	
	input[type=text],input[type=password],select{
	   width:580px;
	   height: 60px;
	   border:2px solid #aaa;
	   border-radius:6px;
	   margin:8px 0;
	   outline:none;
	   padding:8px;
	   box-sizing:border-box;
	   transition: .3s;
	   
	}

	input[type=text]:focus,input[type=password]:focus{
	   border-color : dodgerBlue;
	   box-shadow:0 0 8px 0 dodgerBlue;
	}
	
	#link{
		position: absolute;
		z-index: 7;
		top: 540px;
		left: 60px;
		font-size: 17pt;
	}
	
	#btn_lo{
		position: absolute;
		z-index: 7;
		width: 160px;
		height: 60px; 
		top: 540px;
		left: 480px;
	}
	
	#btn_re1{
		position: absolute;	
		width: 160px;
		height: 60px;
		top: 610px;
		left: 300px;
	}
	
	#btn_re2{
		position: absolute;	
		width: 160px;
		height: 60px;
		top: 610px;
		left: 480px;
	}
	
	#btn_ch1{
		position: absolute;
		width: 160px;
		height: 60px; 
		top: 460px;
		left: 300px;
	}
	
	#btn_ch2{
		position: absolute;	
		width: 160px;
		height: 60px;
		top: 460px;
		left: 480px;
	}
	
	
	
	#text_cl{
		position: absolute;	
		z-index: 7;
		top: 200px;
		left: 790px;
		vertical-align: middle;
		top: 370px;
		left: 50px;
	}
	
	#cl1{
		font-size: 50px;
		color: blue;
	}
	
	#cl2, #cl3{
		font-size: 40px;
	}
	
	#cl3{
		color: green;
	}
	
	#btn_ok{
		position: absolute;	
		width: 160px;
		height: 60px;
		top: 520px;
		left: 480px;
	}
	
	#btn_pw{
		position: absolute;
		width: 160px;
		height: 60px; 
		top: 540px;
		left: 480px;
	}
	
	#btn_fi1{
		position: absolute;
		width: 160px;
		height: 60px; 
		top: 690px;
		left: 300px;
	}
	
	#btn_fi2{
		position: absolute;	
		width: 160px;
		height: 60px;
		top: 690px;
		left: 480px;
	}
	
	#btn_pw3{
		position: absolute;
		width: 160px;
		height: 60px; 
		top: 540px;
		left: 300px;
	}
	
	#btn_pw4{
		position: absolute;	
		width: 160px;
		height: 60px;
		top: 540px;
		left: 480px;
	}
	
}
@media all and (min-width: 769px) {
	body {
		overflow-y: hidden; 
		overflow-x: hidden;
		margin: 0;
		padding: 0;
		}

	 #back{
		position: absolute;
		left: 50%;
		top: 50%;
		transform:translate(-50%,-50%);
		width:2880px;
		height: 1405px;
		border: 0;
		z-index: 1;
	}
	
	#back3{
		position: absolute;
		left: 50%;
		top: 50%;
		transform:translate(-50%,-50%);
		width:2880px;
		height: 1405px;
		z-index: 2;
		background-color: black;  
		opacity: 0.4;
	}
	
	 #back2{
		position: absolute;
		left: 50%;
		top: 50%;
		transform:translate(-50%,-50%);
		background-color: white;
		opacity: 0.7;
		width: 1440px; 
		height: 843px;
		z-index: 4;
		
	} 
	
	#content{ 
		position: absolute;
		left: 50%;
		top: 50%;
		transform:translate(-50%,-50%);
		width: 1728px; 
		height: 843px;
		z-index: 5;
	}
	
	#logo{
		position: absolute;
		top: 126.45px;
		left: 250px;
		
	}
	
	#logo1{
		width: 432px;
		height: 590.1px;
	}
	
	#text{
	position: absolute;
	vertical-align: middle;
	top: 280px;
	left: 800px;
	
	}
	
	input[type=text],input[type=password],select{
	   width:648px;
	   height: 70px;
	   border:2px solid #aaa;
	   border-radius:6px;
	   margin:8px 0;
	   outline:none;
	   padding:8px;
	   box-sizing:border-box;
	   transition: .3s;
	   
	}

	input[type=text]:focus,input[type=password]:focus{
	   border-color : dodgerBlue;
	   box-shadow:0 0 8px 0 dodgerBlue;
	}
	
	#link{
		position: absolute;
		z-index: 7;
		top: 460px;
		left: 800px;
		font-size: 17pt;
	}
	
	#btn_lo{
		position: absolute;
		width: 160px;
		height: 60px; 
		top: 460px;
		left: 1287px;
	}
	
	#btn_re1{
		position: absolute;	
		width: 160px;
		height: 60px;
		top: 550px;
		left: 1107px;
	}
	
	#btn_re2{
		position: absolute;	
		width: 160px;
		height: 60px;
		top: 550px;
		left: 1287px;
	}
	
	#btn_ch1{
		position: absolute;
		width: 160px;
		height: 60px; 
		top: 380px;
		left: 1107px;
	}
	
	#btn_ch2{
		position: absolute;	
		width: 160px;
		height: 60px;
		top: 380px;
		left: 1287px;
	}
	
	
	
	#text_cl{
		position: absolute;	
		top: 280px;
		left: 800px;
	}
	
	#cl1{
		font-size: 55px;
		color: blue;
	}
	
	#cl2, #cl3{
		font-size: 50px;
	}
	
	#cl3{
		color: green;
	}
	
	#btn_ok{
		position: absolute;	
		width: 160px;
		height: 60px;
		top: 450px;
		left: 1287px;
	}
	
	#btn_pw{
		position: absolute;
		width: 160px;
		height: 60px; 
		top: 460px;
		left: 1287px;
	}
	
	#btn_fi1{
		position: absolute;
		width: 160px;
		height: 60px; 
		top: 640px;
		left: 1107px;
	}
	
	#btn_fi2{
		position: absolute;	
		width: 160px;
		height: 60px;
		top: 640px;
		left: 1287px;
	}
	
	#btn_pw3{
		position: absolute;
		width: 160px;
		height: 60px;  
		top: 460px;
		left: 1110px;
	}
	
	#btn_pw4{
		position: absolute;
		width: 160px;
		height: 60px; 
		top: 460px;
		left: 1287px;
	}
}








































